Week-5 Assignment: Grouping, Merging, and Time-Series with Pandas

1. Grouping and Aggregation (20 Marks)
 -  You are provided with the following dataset about employees and their sales performance:
“”””import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice', 'Charlie', 'Bob'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'North'],
    'Sales': [200, 150, 300, 400, 100, 250, 300, 350],
    'Year': [2023, 2023, 2024, 2024, 2023, 2024, 2024, 2023]
}

df = pd.DataFrame(data) “”””

Perform the following tasks:
 - Group the data by Employee and calculate the total sales for each employee. (5 Marks)
 - Group the data by Region and find the average sales per region. (5 Marks)
 - Group the data by both Employee and Year to calculate the total sales for each combination. (10 Marks)

In [33]:
import pandas as pd
data = {
    'Employee': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice', 'Charlie', 'Bob'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'North'],
    'Sales': [200, 150, 300, 400, 100, 250, 300, 350],
    'Year': [2023, 2023, 2024, 2024, 2023, 2024, 2024, 2023]
}

df = pd.DataFrame(data)
new_1= df.groupby('Employee')['Sales'].sum().reset_index()
new_1.columns=['Employee','Total Sales']
print('DF grouped by employee:')
print(new_1)
new_2= df.groupby('Region')['Sales'].mean().reset_index().round(2)
new_2.columns=['Region','Average Sales']
print('DF grouped by region:')
print(new_2)
new_3= df.groupby(['Employee','Year'])['Sales'].sum().reset_index()
new_3.columns=['Employee','Year','Total Sales']
print('DF grouped by employee and year:')
print(new_3)

DF grouped by employee:
  Employee  Total Sales
0    Alice          750
1      Bob          900
2  Charlie          400
DF grouped by region:
  Region  Average Sales
0  North         250.00
1  South         266.67
DF grouped by employee and year:
  Employee  Year  Total Sales
0    Alice  2023          200
1    Alice  2024          550
2      Bob  2023          500
3      Bob  2024          400
4  Charlie  2023          100
5  Charlie  2024          300

2. Merging and Concatenation (20 Marks)
 - You are provided with two datasets containing employee details and sales targets:
employee_details = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['Sales', 'Sales', 'Marketing', 'HR']
})

sales_targets = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Sales_Target': [1000, 1200, 800, 500]
})

 - Perform the following tasks:
   -  Merge the two datasets on the Employee column to combine all details. (10 Marks)
   -  Create a new column showing the difference between Sales_Target and total sales (calculated from Task 1). Hint: Use the merged dataset for calculations. (10 Marks)

In [48]:
import pandas as pd
employee_details = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['Sales', 'Sales', 'Marketing', 'HR']
})
sales_targets = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Sales_Target': [1000, 1200, 800, 500]
})
new_4=pd.merge(employee_details,sales_targets,on='Employee')
print('Merged data:')
print(new_4)
new_5=pd.merge(new_4,new_1 ,on='Employee')
new_5['Difference']= new_5['Sales_Target']- new_5['Total Sales']
print('Data with difference:')
print(new_5)

Merged data:
  Employee  Age Department  Sales_Target
0    Alice   25      Sales          1000
1      Bob   30      Sales          1200
2  Charlie   35  Marketing           800
3    David   40         HR           500
Data with difference:
  Employee  Age Department  Sales_Target  Total Sales  Difference
0    Alice   25      Sales          1000          750         250
1      Bob   30      Sales          1200          900         300
2  Charlie   35  Marketing           800          400         400

3. Working with Time-Series Data (20 Marks)
 - The following dataset contains daily stock prices:
 - stock_prices = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Price': [100, 102, 105, 107, 110]
})

 - Perform the following tasks:
   -  Convert the Date column to a datetime object. (5 Marks)
   -  Resample the data to calculate the weekly average price. (10 Marks)
   -  Find the day with the highest stock price. (5 Marks)

In [60]:
import pandas as pd
stock_prices = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Price': [100, 102, 105, 107, 110]
})
stock_prices['Date'] = pd.to_datetime(stock_prices['Date'])
print('Converted to date time object:')
print(stock_prices)
stock_prices.set_index('Date',inplace=True)
w_avg=stock_prices.resample('W').mean()
print('Weekly average price:')
print(w_avg)
m=stock_prices['Price'].idxmax()
max_price=stock_prices.loc[m]
print('Day with highest price:')
print(max_price)

Converted to date time object:
        Date  Price
0 2024-01-01    100
1 2024-01-02    102
2 2024-01-03    105
3 2024-01-04    107
4 2024-01-05    110
Weekly average price:
            Price
Date
2024-01-07  104.8
Day with highest price:
Price    110
Name: 2024-01-05 00:00:00, dtype: int64

4. Pivot Tables and Cross-Tabulations (20 Marks)
 - Using the original df dataset from Task 1:
   -  Create a pivot table to find the total sales by Region and Year. (10 Marks)
   -  Create a cross-tabulation showing the count of employees working in each Region for each Year. (10 Marks)

In [65]:
pivot=df.pivot_table(values='Sales',index='Region',columns='Year',aggfunc='sum',)
print('Total values by region and year:')
print(pivot)
new_6= pd.crosstab(index=df['Region'], columns=df['Year'], values=df['Employee'], aggfunc='count')
print('Cross-tabulation:')
print(new_6)

Total values by region and year:
Year    2023  2024
Region
North    650   600
South    150   650
Cross-tabulation:
Year    2023  2024
Region
North      3     2
South      1     2

5. Exporting Data (10 Marks)
 - Save the final merged dataset (from Task 2) to a CSV file named employee_sales.csv. (5 Marks)
 - Save the pivot table (from Task 4) to an Excel file named sales_summary.xlsx. (5 Marks)

In [82]:
new_5.to_csv('employee_sales.csv')
pivot.to_excel('sales_summary.xlsx')