Week-4 Assignment: Pandas Basics

1. Creating DataFrames (10 Marks)
- Create a Pandas DataFrame with the following data:
  -  Name
Age
Gender
Score
  -  Alice
23
Female
85
  -  Bob
25
Male
78
  -  Charlie
22
Male
90
  -  Diana
24
Female
92

- Tasks:
  -  Display the first 3 rows of the DataFrame. (2 Marks)
  -  Get the column names and data types. (2 Marks)
  -  Add a new column named Passed with a value of True if the Score is greater than 80, otherwise False. (3 Marks)
  -  Drop the Gender column from the DataFrame. (3 Marks)

In [85]:
import pandas as pd
print('First 3 rows:')
given=pd.DataFrame({'Name':['Alice','Bob','Charlie','Diana'],'Age':[23,25,22,24],'Gender':['Female','Male','Male','Female'],'Score':[85,78,90,92]})
print(given.iloc[:3])
print('Column names and data types:')
print(given.dtypes)
print('Updated dataframe:')
given['Passed']=given['Score']>80
print(given)
print('New dataframe:')
given=given.drop(columns=['Gender'])
print(given)

First 3 rows:
      Name  Age  Gender  Score
0    Alice   23  Female     85
1      Bob   25    Male     78
2  Charlie   22    Male     90
Column names and data types:
Name      object
Age        int64
Gender    object
Score      int64
dtype: object
Updated dataframe:
      Name  Age  Gender  Score  Passed
0    Alice   23  Female     85    True
1      Bob   25    Male     78   False
2  Charlie   22    Male     90    True
3    Diana   24  Female     92    True
New dataframe:
      Name  Age  Score  Passed
0    Alice   23     85    True
1      Bob   25     78   False
2  Charlie   22     90    True
3    Diana   24     92    True

2. Indexing and Slicing (10 Marks)
- Use the DataFrame from Task 1:
  -  Select and display only the Name and Score columns. (2 Marks)
  -  Filter and display rows where Score is greater than 85. (3 Marks)
  -  Display the row for the student named "Bob" using loc. (2 Marks)
  -  Display the last 2 rows of the DataFrame. (3 Marks)

In [88]:
import pandas as pd

given=pd.DataFrame({'Name':['Alice','Bob','Charlie','Diana'],'Age':[23,25,22,24],'Gender':['Female','Male','Male','Female'],'Score':[85,78,90,92]})

print('Only name and score:')
given_2=given[['Name','Score']]
print(given_2)
print('Score greater than 85:')
given_3= given[given['Score']>85]
print(given_3)
print('Bob by loc:')
given_4=given.loc[given['Name']=='Bob']
print(given_4)
print('Last 2 rows:')
print(given.iloc[2:])

Only name and score:
      Name  Score
0    Alice     85
1      Bob     78
2  Charlie     90
3    Diana     92
Score greater than 85:
      Name  Age  Gender  Score
2  Charlie   22    Male     90
3    Diana   24  Female     92
Bob by loc:
  Name  Age Gender  Score
1  Bob   25   Male     78
Last 2 rows:
      Name  Age  Gender  Score
2  Charlie   22    Male     90
3    Diana   24  Female     92

3. Data Analysis (15 Marks)
- Use the DataFrame from Task 1:
  -  Calculate the average age of students. (2 Marks)
  -  Find the maximum and minimum scores. (2 Marks)
  -  Count the number of students who passed. (3 Marks)
  -  Group the data by the Passed column and calculate the average score for each group. (4 Marks)
  -  Sort the DataFrame by Score in descending order. (4 Marks)

In [113]:
import pandas as pd

given=pd.DataFrame({'Name':['Alice','Bob','Charlie','Diana'],'Age':[23,25,22,24],'Gender':['Female','Male','Male','Female'],'Score':[85,78,90,92]})
print('Average age of students:',given['Age'].mean())
print('Maximum score:',given['Score'].max())
print('Minimum score:',given['Score'].min())
print('Number of students passed:',(given['Score']>80).sum())
given ['Passed']=given['Score']>80
average_pass_score= given.groupby('Passed')['Score'].mean()
print ('Average pass score:',average_pass_score)
print('Sorted dataframe:')
print(given.sort_values(by='Score',ascending=False))

Average age of students: 23.5
Maximum score: 92
Minimum score: 78
Number of students passed: 3
Average pass score: Passed
False    78.0
True     89.0
Name: Score, dtype: float64
Sorted dataframe:
      Name  Age  Gender  Score  Passed
3    Diana   24  Female     92    True
2  Charlie   22    Male     90    True
0    Alice   23  Female     85    True
1      Bob   25    Male     78   False

4. Importing and Exporting Data (5 Marks)
- Save the DataFrame from Task 1 as a CSV file named students.csv. (2 Marks)
- Read the students.csv file back into a new DataFrame and display it. (3 Marks)

In [126]:
import pandas as pd

given=pd.DataFrame({'Name':['Alice','Bob','Charlie','Diana'],'Age':[23,25,22,24],'Gender':['Female','Male','Male','Female'],'Score':[85,78,90,92]})
print('Saved to CSV:',given.to_csv('students.csv'))
print('Read the CSV file:')
print(pd.read_csv('students.csv',index_col=0))

Saved to CSV: None
Read the CSV file:
      Name  Age  Gender  Score
0    Alice   23  Female     85
1      Bob   25    Male     78
2  Charlie   22    Male     90
3    Diana   24  Female     92

5. Real-World Problem (10 Marks)
- Create a DataFrame with the following sales data:
  -  Product
Category
Sales
Discount
  -  Laptop
Electronics
500
50
  - Smartphone
Electronics
300
30
  - Desk
Furniture
200
20
  - Chair
Furniture
150
15

Tasks:
  -  Calculate a new column named Net Sales as Sales - Discount. (3 Marks)
  -  Group the data by Category and calculate total sales for each category. (4 Marks)
  -  Find the product with the highest net sales. (3 Marks)

In [149]:
import pandas as pd

df=pd.DataFrame({'Product':['Laptop','Smartphone','Desk','Chair'],
                 'Catagory':['Electronics','Electronics','Furniture','Furniture'],
                 'Sales':[500,300,200,150],
                 'Discount':[50,30,20,15]
                 })
print('Given Dataframe:')
print(df)
df['Net Sales']=df['Sales']-df['Discount']
print('Updated Dataframe:')
print(df)
by_catagory=df.groupby('Catagory')['Sales'].sum()
print('Grouped by catagory:')
print(by_catagory)
max_price=df.sort_values(by='Net Sales',ascending=False).loc[0]['Product']
print('Product with highest net sales:',max_price)

Given Dataframe:
      Product     Catagory  Sales  Discount
0      Laptop  Electronics    500        50
1  Smartphone  Electronics    300        30
2        Desk    Furniture    200        20
3       Chair    Furniture    150        15
Updated Dataframe:
      Product     Catagory  Sales  Discount  Net Sales
0      Laptop  Electronics    500        50        450
1  Smartphone  Electronics    300        30        270
2        Desk    Furniture    200        20        180
3       Chair    Furniture    150        15        135
Grouped by catagory:
Catagory
Electronics    800
Furniture      350
Name: Sales, dtype: int64
Product with highest net sales: Laptop